@{
    ViewBag.Title = "Examen Web";
}

<div class="jumbotron">
    <h1>Examen Web</h1>
    <p class="lead">Crea un sitio web ERP en MVC .net que contenga los siguientes módulos (CRUD):<br /> ♦ Clientes.<br />♦ Productos.<br />♦ Inventarios.</p>
    <p><a href="https://github.com/ejimenezdelgado/2016_UTN_2_Cuatri_AmbienteWEB2/tree/master/Clase%2014" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <pre>
o	Cedula
o	Nombre
o	Apellido
o	Fecha nacimiento
o	Dirección
o	Estado civil
o	Sexo
o	Fecha ingreso
o	Tipo(Detallista-Mayoreo)
o	Descuento (0% a 50%)
        <br />
</pre>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <pre>
o	Identificador
o	Nombre
o	Marca
o	Familia
o	Casa fabricación
o	Tipo unidad
o	Departamento
o	Activo
o	Fecha ingreso
o	Unidad
o	Impuesto
</pre>
    </div>
    <div class="col-md-4">
        <h2>Inventarios</h2>
        <pre>
o	Identificador
o	Producto
o	Cantidad
o	Cantidad mínima
o	Cantidad máxima
o	Gravado o Excepto
        <br /><br /><br /><br /><br />
</pre>
    </div>
</div>